repos:
- repo: https://github.com/homebysix/pre-commit-macadmin
  rev: v1.22.0
  hooks:
  - id: check-autopkg-recipes
    args: ["--recipe-prefix", "com.github.clburlison.", "--strict", "--"]
  - id: forbid-autopkg-overrides
  - id: forbid-autopkg-trust-info
  - id: check-plists
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: ["--maxkb=100"]
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
    args: ["--markdown-linebreak-ext=md"]
